@model BlipValidate.Data.ViewModels.AnnotatedTypesViewModel

@{
  ViewData["Title"] = "AnnotatedTypes";
}

<h2>AnnotatedTypes</h2>

<h4>AnnotatedTypesViewModel</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="AnnotatedTypes">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="CreditCardNumber" class="control-label"></label>
        <input asp-for="CreditCardNumber" class="form-control" autofocus="autofocus" autocomplete="on" />
        <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PurchasePrice" class="control-label"></label>
        <input asp-for="PurchasePrice" class="form-control" />
        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PurchaseDate" class="control-label"></label>
        <input asp-for="PurchaseDate" class="form-control" min="2017-04-20" max="2017-04-29" />
        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="TransactionTimestamp" class="control-label"></label>
        <input asp-for="TransactionTimestamp" class="form-control" />
        <span asp-validation-for="TransactionTimestamp" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="SessionLength" class="control-label"></label>
        <input asp-for="SessionLength" class="form-control" />
        <span asp-validation-for="SessionLength" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="FileName" class="control-label"></label>
        <input asp-for="FileName" class="form-control" />
        <span asp-validation-for="FileName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="LongAnswer" class="control-label"></label>
        <input asp-for="LongAnswer" class="form-control" />
        <span asp-validation-for="LongAnswer" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="MobilePhone" class="control-label"></label>
        <input asp-for="MobilePhone" class="form-control" />
        <span asp-validation-for="MobilePhone" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="DisplayText" class="control-label"></label>
        <input asp-for="DisplayText" class="form-control" />
        <span asp-validation-for="DisplayText" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="OrderTime" class="control-label"></label>
        <input asp-for="OrderTime" class="form-control" />
        <span asp-validation-for="OrderTime" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="UploadFileName" class="control-label"></label>
        <input asp-for="UploadFileName" class="form-control" />
        <span asp-validation-for="UploadFileName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="WebsiteAddress" class="control-label"></label>
        <input asp-for="WebsiteAddress" class="form-control" />
        <span asp-validation-for="WebsiteAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@*<script type="text/javascript">
  $("#AnnotatedTypes").validate({
    rules: {
      creditCardNumber: {
        required: true,
        creditcard: true
      }
    }
  });
</script>*@

}
