@model BlipValidate.Data.ViewModels.CustomerAddBareViewModel

@{
  ViewData["Title"] = "Add a customer (bare)";
}

<div class="row">
  <div class="col-md-4">
    <h2>Add Customer (bare)</h2>
    <p>ViewModel: CustomerAddBareViewModel<br />(without annotations) </p>
    <hr />
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <form asp-action="CustomerAddBare">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="CompanyName" class="control-label"></label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="HqCountryIso3" class="control-label"></label>
        <input asp-for="HqCountryIso3" class="form-control" />
        <span asp-validation-for="HqCountryIso3" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="EmployeeCount" class="control-label"></label>
        <input asp-for="EmployeeCount" class="form-control" />
        <span asp-validation-for="EmployeeCount" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Incorporated" class="control-label"></label>
        <input asp-for="Incorporated" class="form-control" />
        <span asp-validation-for="Incorporated" class="text-danger"></span>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input asp-for="Nonprofit" /> @Html.DisplayNameFor(model => model.Nonprofit)
          </label>
        </div>
      </div>
      <div class="form-group">
        <label asp-for="StockPriceMax" class="control-label"></label>
        <input asp-for="StockPriceMax" class="form-control" />
        <span asp-validation-for="StockPriceMax" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
