@{
    ViewData["Title"] = "Validation Demos";
}

<div class="row">
    <div class="col-md-3">
        <ul>
            <li><a asp-area="" asp-controller="Validation" asp-action="CustomerAdd">Customer - Add</a></li>
        </ul>
    </div>
</div>
