@{
    ViewData["Title"] = "Validation Demos";
}

<div class="row">
  <div class="col-md-3">
    <h2 class="h2">Hack.Guides() Demonstrations</h2>
  </div>
</div>

<div class="row">
    <div class="col-md-3">
      <ul>
        <li><a asp-area="" asp-controller="Validation" asp-action="CustomerAdd">Customer Add, with annotations</a></li>
        <li><a asp-area="" asp-controller="Validation" asp-action="CustomerAddBare">Customer Add, bare value types</a></li>
        <li><a asp-area="" asp-controller="Validation" asp-action="ValueTypesBare">Value Types, bare value types</a></li>
      </ul>
    </div>
</div>
